@page "/"
@page "/Chat"
@layout EmptyLayout

@attribute [Authorize(Policy = "ValidSubscription")]

@{
    var mobileView = isAndriodPlatform ? "" : "messenger-container";
    var mobileClass = isAndriodPlatform ? "mobile" : "";
    var sideBarHeight = isAndriodPlatform ? "auto" : "650px";
    var messageContainerHeight = SelectedFbChatId is null ? "100vh" : "calc(100vh - 130px)"; // 130 px is the height of selected message header and the message input so in result we end up in a perfect scroll if needed
    var avatarMargin = isAndriodPlatform ? "0px" : "12px";
}


<div class="@mobileView">
    <!-- Sidebar -->
    <div class="sidebar @mobileClass" style="z-index:@SidebarZIndex;">

        @if (FilteredAccountChats.Count == 0 && IsLoading)
        {
            <ChatLoadingSkelton></ChatLoadingSkelton>
        }
        else if (FilteredAccountChats.Any() && !IsLoading)
        {
            <div class="sidebar-header">
                <div style="display:flex;align-items:center;">
                    <NavLink style="padding: 20px 10px 20px 20px;" href="Account">
                        <i class="fa-sharp fa-solid fa-arrow-left"></i>
                    </NavLink>

                    <h2 class="sidebar-title">Marketplace Chat</h2>
                </div>

                <div class="search-box">
                    <span class="search-icon">🔍</span>
                    <input @bind-value="FilterKeyword"
                           @bind-value:event="oninput" type="text" class="search-input" placeholder="Search conversations">
                </div>
            </div>
            <div class="chat-list" style="height:@sideBarHeight">
                @for (int i = 0; i < FilteredAccountChats.Count; i++)
                {
                    var fbChatId = FilteredAccountChats[i].FbChatId;
                    var chat = FilteredAccountChats[i];
                    var unreadCount = chat.UnReadCount;
                    var hide = unreadCount == 0 ? "hide" : "";

                    <div @onclick="() => LoadChatMessage(fbChatId)" class="chat-item unread">

                        <div class="avatar">
                            JD
                            <span class="unread-badge @hide">@unreadCount</span>
                        </div>

                        <div class="chat-info">
                            <div class="chat-name">@chat.FbLisFbListingTitle</div>
                            <div class="chat-listing-info">
                                <div class="listing-location">@chat.FbListingLocation</div>
                                <div class="listing-price">$@chat.FbListingPrice</div>
                            </div>
                        </div>
                        <div class="chat-time">2m</div>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="sidebar-header">
                <div style="display:flex;align-items:center;">
                    <NavLink style="padding: 20px 10px 20px 20px;" href="Account">
                        <i class="fa-sharp fa-solid fa-arrow-left"></i>
                    </NavLink>

                    <h2 class="sidebar-title">Marketplace Chat</h2>
                </div>

                <div class="search-box">
                    <span class="search-icon">🔍</span>
                    <input @bind-value="FilterKeyword"
                           @bind-value:event="oninput" type="text" class="search-input" placeholder="Search conversations">
                </div>
            </div>
            <div class="empty-state-sidebar">
                <div class="empty-state-icon-sidebar">
                    <svg width="40" height="40" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                        <path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path>
                    </svg>
                </div>
            <p>No chats found.</p>
            </div>
        }

    </div>


    <!-- Main Chat Area -->
    <div class="main-chat  @mobileClass" style="z-index:@MainChatZIndex" id="mainChat">
        @if (SelectedFbChatId is not null)
        {
            <div class="chat-header">
                @if (isAndriodPlatform)
                {
                    <div style="cursor:pointer; padding: 33px 12px 32px 20px;" @onclick="HandleMobileMainChat">
                        <i class="fa-sharp fa-solid fa-arrow-left"></i>
                    </div>
                }

                <div class="avatar" style="margin-left:@avatarMargin">JD</div>
                <div class="header-info">

                    <h3>@selectedListingTitle</h3>
                    <p>@selectedListingLocation - @selectedListingPrice</p>
                </div>
            </div>
        }


        <div class="messages-container" id="messagesContainer" style="height:@messageContainerHeight">

            @if (SelectedFbChatId is null && !isAndriodPlatform)
            {
                <div class="empty-state" id="emptyState">
                    <div class="empty-state-icon">
                        <svg width="60" height="60" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                            <path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path>
                        </svg>
                    </div>
                    <h3>Select a conversation</h3>
                    <p>Choose a conversation from the sidebar to start chatting with your Marketplace buyers and sellers.</p>
                </div>
            }


            <div id="messagesList">
                @for (int i = 0; i < ChatMessages.Count; i++)
                {
                    var chatMessage = ChatMessages[i];
                    var messageClass = chatMessage.IsReceived ? "received" : "sent";
                    var isSent = !chatMessage.IsReceived;
                    var isMessageFailedToSend = !chatMessage.IsSent && !chatMessage.IsReceived;
                    var failedMessageClass = isMessageFailedToSend ? "failed" : "";

                    @if (chatMessage.IsTextMessage)
                    {
                        <div class="message @messageClass @failedMessageClass">
                            <div style="white-space: pre-wrap;" class="message-bubble">
                                @chatMessage.Message
                            </div>
                            <div class="message-footer">
                                <span class="message-time">@chatMessage.CreatedAt.ToLocalTime().ToString("hh:mm tt")</span>

                                @if (isSent)
                                {
                                    @if (chatMessage.Sending)
                                    {
                                        <span class="message-status sending">
                                            <span class="status-icon">⏱</span> Sending...
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="message-status sent">
                                            <span class="status-icon">✓</span> Sent
                                        </span>
                                    }

                                }

                            </div>
                        </div>
                    }

                    @if (chatMessage.IsImageMessage)
                    {
                        var row = chatMessage.FileData.Count > 1 ? "flex-row" : "";

                        <div class="@row @messageClass">
                            @foreach (var file in chatMessage.FileData)
                            {
                                <div class="message @messageClass  @failedMessageClass">
                                    <div>
                                        <img src="@file.FileUrl" />
                                    </div>
                                    <div class="message-footer">
                                        <span class="message-time">@chatMessage.CreatedAt.ToLocalTime().ToString("hh:mm tt")</span>
                                        @if (isSent)
                                        {
                                            @if (chatMessage.Sending)
                                            {
                                                <span class="message-status sending">
                                                    <span class="status-icon">⏱</span> Sending...
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="message-status sent">
                                                    <span class="status-icon">✓</span> Sent
                                                </span>
                                            }
                                        }

                                    </div>
                                </div>
                            }


                        </div>
                    }
                }
            </div>
        </div>

        <div class="input-wrapper">
            @if (PreviewMediaFiles.Any())
            {
                <div class="file-preview-container" id="filePreview">
                    <div class="file-preview-grid">

                        @for (int i = 0; i < PreviewMediaFiles.Count; i++)
                        {
                            var file = PreviewMediaFiles[i];

                            <div class="file-preview-item">
                                <img class="preview-media" src="@file.FileUrl" alt="@file.FileName">
                                @if (file.IsVideo)
                                {
                                    <div class="video-indicator">▶️</div>
                                }
                                <button class="remove-file-btn" @onclick="() => HandleFileRemoval(file.Id)">✕</button>
                                <div class="file-name">@file.FileName</div>
                            </div>
                        }
                    </div>
                </div>
            }

            @if (SelectedFbChatId is not null)
            {
                <div class="input-container">
                    <InputFile type="file" id="fileInput" accept="image/*,video/*" multiple style="display: none;" onchange="HandleFileUpload" />
                    <label for="fileInput" class="file-upload-btn" title="Attach files">📎</label>
                    <textarea @bind="Message" @onkeydown="HandleKeyDownPress" class="message-input" placeholder="Type a message..." rows="1"></textarea>
                    <button @onclick="() => NotifyExtension()" class="send-button">➤</button>
                </div>
            }

        </div>

    </div>
</div>

<script src="/Components/Pages/Chat/Chat.razor.js"></script>