@using FBMMultiMessenger.Models.Shared
@using MudBlazor

<div style="overflow-y : auto; width: @Setting.ContentWidth; max-width: 100%">
    <div @onclick="OnAvatarClick" style="position : absolute; top:-70px; right : calc(50% - 60px); border : 10px solid white; border-radius : 50%; background-color: white; z-index : 1">
        @if (Setting.AvatarContent == AvatarContent.RenderFragenment)
        {
            @Setting.RenderFragment
        }
        else if (Setting.AvatarContent == AvatarContent.Icon)
        {
            <MudAvatar Color="Color.Error" Variant="Variant.Filled" Style="width: 100px; height: 100px">
                <MudIcon Style="color : white" Icon="@Setting.Icon" Size="Size.Large" />
            </MudAvatar>
        }
        else if (Setting.AvatarContent == AvatarContent.ImagePath)
        {
            <MudImage Style="max-width: 100px; max-height: 100px" Src="@Setting.ImagePath" ObjectPosition="ObjectPosition.Center"></MudImage>
        }
    </div>

    @{
        var popupClass = Setting.PopupView == PopupView.Single ? " single-view" : " double-view";
    }

    <MudDialog DisableSidePadding="true" Class="@("custom-form-popup " + popupClass)">
        <TitleContent>
            <MudText Typo="Typo.h4" Style="margin-top : 35px; text-align : center">
                @Setting.Title
            </MudText>
        </TitleContent>
        <DialogContent>
            <EditForm EditContext="EditContext" OnValidSubmit=@(OnValidSubmit.HasDelegate? OnValidSubmitFunction : null) OnSubmit="@(OnSubmit.HasDelegate? OnSubmitFunction : null)" Context="EditFormContext">
                <ObjectGraphDataAnnotationsValidator />

                <div class="popup-grid">
                    @ChildContent
                </div>
            </EditForm>


        </DialogContent>
    </MudDialog>
</div>
